Requiments

* Install, run and test device gem
* I need to fix devise user id

Pages and Layout
* User should view the content

Users and Registration
* The website should have admins and users

Tables and Database
* The website should have categories